.parte1 {padding-right: 1.5rem; 
    padding-left: 1.5rem;}

:root { --branco: #ffffff; 
    --preto: #000000; 
    --texto: #708090; 
    --design: #1a3e44; 
    --photography: #084a48; 
    --footer: #2b7666; 
    --footer-background: }
