.ovo {width: 100vw;}

.title__brand {text-transform: uppercase; 
    font-size: 1.5rem; 
    text-align: center; 
    padding-top: 2rem;
    padding-bottom: 1rem; 
    font-weight: bold;}

.texto__brand {color:#708090; 
    font-size: 1.3rem; 
    text-align: center; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;}

.learn__more {color: black; 
    font-size: 1.5rem;
    text-align: center; 
    padding-top: 1rem; 
    padding-bottom: 1.5rem;
    font-weight: bold;}

.taça__rosa {width: 100vw;}

.title__audience {text-transform: uppercase; 
    font-size: 1.5rem; 
    text-align: center; 
    padding-top: 2rem;
    padding-bottom: 1rem; 
    font-weight: bold;}

.texto__audience {color:#708090; 
    font-size: 1.3rem; 
    text-align: center; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;}

/*.laranja {width: 100vw;}*/

.design {background-image: url(../images/mobile/image-graphic-design.jpg);
    width: 100vw; 
    background-size: 100vw; 
    background-repeat: no-repeat;}

.title__design {
    font-size: 2rem; 
    text-align: center; 
    padding-top: 2rem;
    padding-bottom: 1rem; 
    font-weight: bold;
    padding-top: 25rem;
    color: #1a3e44;}

.texto__design {color: #1a3e44;
    font-size: 1.3rem; 
    text-align: center; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
    padding-bottom: 2.5rem;}

.photography {background-image: url(../images/mobile/image-photography.jpg);
    width: 100vw; 
    background-size: 100vw; 
    background-repeat: no-repeat;}

.title__photography { font-size: 2rem; 
    text-align: center; 
    padding-top: 2rem;
    padding-bottom: 1rem; 
    font-weight: bold;
    padding-top: 25rem;
    color: #084a48}
    
.texto__photography {color: #084a48;
        font-size: 1.3rem; 
        text-align: center; 
        padding-left: 1.5rem; 
        padding-right: 1.5rem;
        padding-bottom: 2.5rem;}

.testimonials {text-align: center;}

.title__testimonials {padding-top: 1.5rem; 
    padding-bottom: 1.5rem; 
    text-transform: uppercase; 
    font-size: 1rem; 
    color: #708090}

.emily,.thomas, .jennie{border-radius: 50%;}

.texto__testimonials{ padding: 2rem; 
    color: #708090}

.nome__testimonials {padding-bottom: 1rem; 
    font-weight: bolder; 
    font-size: 1rem;}

.cargo__testimonials { padding-bottom: 2.5rem;
     color:#708090}


* {box-sizing: border-box;}
.row {display: flex;}
         
       
.column {flex: 25%;
        padding: 0;}

