.rodape__social { display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    padding-right: 5px };

.rodape__text { display: inline-block;
    
    text-align: center;}

footer {background-color: rgb(35, 85, 74);}